* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
  }
  
  body {
    line-height: 1;
    font-family: 'Roboto', sans-serif;
  }
  
  /* Resetting common elements */
  
  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
  }
  
  ul,
  ol {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  a {
    text-decoration: none;
  }
  
  /* Resetting form elements */
  
  input,
  textarea,
  button,
  select {
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    appearance: none;
  }
  
  button {
    cursor: pointer;
  }
  
  